body {
 background: #0f0f0f;
}

html {
  max-height: 100vh;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.background-img {
  width: 100%;
  min-height: 93vh;
}

.content-heading {
  color: #009a9a;
  font-size: 3rem;
  font-weight: lighter;
  margin: 20px auto 20px;
  text-align: center;
}

.sub-heading {
  color: #00cece;
  font-size: 2rem;
  font-weight: lighter;
  margin: 20px auto 20px;
}

#about-section {
  position: relative;
  text-align: center;
  overflow: hidden;
}

#about-content p, #contact-section p {
  font-size: 1.5em;
  font-weight: lighter;
  color: lightgray;
  margin: 10%;
}

#home-content {
  position: absolute;
  top: 5%;
  left: 60%;
  transform: translate(-60%, -5%);
  text-align: left;
}

#content {
  z-index: 10;
  position: relative;
}

.navbar {
  padding: 0px;
  position: static;
}

.navbar > a b {
  color: #00cece!important;
}

.navbar-brand {
  padding: 1rem;
}

.nav-item {
  padding: .5rem;
}

.nav-item:hover {
  cursor: pointer;
  background-color: #009a9a;
  border-radius: 5px;
}

.active {
  color: #00cece !important;
}

#tech-skills-list, #tech-toolbox-list, #personal-strengths-list {
  font-size: 1.7em;
}

.project-image {
  height: 100%;
  max-width: 100%;
  width: auto;
}

.project-container {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: hover-color-change;
}

.project-container:last-child {
  margin-bottom: 5vh;
}

.project-container:hover {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: unhover-color-change;
}

@keyframes hover-color-change {
  from {
    background: #225757;
  }
  to {
    background: #111111;
  }
}

@keyframes unhover-color-change {
  from {
    background: #111111;
  }
  to {
    background: #225757;
  }
}

#greeting {
  text-align: left;
  color: black;
}

#typewriter {
  font-size: 1.5em;
  color: #009a9a;
}

#typewriter h1 {
  width: 280px;
  overflow: hidden;
  border-right: 1em orange;
  white-space: nowrap;
  margin-right: auto;
  color: black;
  font-size: 2rem;
  font-weight: lighter;
  animation:
    typing 1s steps(40, end) 0s infinite alternate;
}

#profile-pic {
  width: 100%;
}

#contact-section a {
  color: #00cece;
}

@media only screen and (max-width: 560px) {
  .navbar-brand {
    font-size: 80%;
  }
}

@media (max-aspect-ratio: 14/10) {
  .background-img {
    width: 150%;
  }
  #home-content {
    top: 5%;
    left: 70%;
    transform: translate(-70%, -5%);
  }
}

@media (max-aspect-ratio: 1/1) {
  .background-img {
    width: 220%;
    height: auto;
    min-height: 50%;
  }
  #home-content {
    top: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
    width: 60%;
  }
  #greeting {
    font-size: 1.7em;
    margin: 0px;
  }
  #typewriter {
    font-size: 1.2em;
    margin:0px;
  }
  #typewriter h1 {
    font-size: 1.5em;
  }
}

@media (max-aspect-ratio: 6/9) {
  .content-heading {
    font-size: 2em;
  }
  .sub-heading {
    font-size: 1.5em;
  }
  #skills li {
    font-size: .7em;
  }
  #home-content {
    top: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
  }
  #greeting {
    font-size: 1.5em;
    margin: 0px;
  }
  #typewriter {
    font-size: .8em;
    margin: 0px;
  }
  #typewriter h1 {
    font-size: 1.2em;
  }
}

@media screen and (max-device-width: 480px) {
  body, html {
  }
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}
