
<div id="about-section" class="text-center text-white row">
  <div id="about-pic" class="col-lg-6 p-0">
    <img id="profile-pic" src="{{url_for('static', filename='images/profile_pic.jpg')}}">
  </div>
  <div id="about-content" class="col-lg-6 p-0">
    <h1 class="content-heading">About Me</h1>
    <p>If there were more than 24 hours in a day, I would probably spend a lot of my extra time discovering and exploring new tech. Some areas of interest outside of web development
       that I hope to eventually explore more deeply: artificial intelligence (especially generative music), mobile development, game development, and data science.
    </p>
    <p>People who know me say I am friendly yet very driven and competitive. I have an innate desire to have things done right. Making steady progress is what keeps me going.</p>
  </div>
</div>
