<div id="about-section" class="text-center text-white">
  <img class="img-fluid background-img" src="https://www.thespruce.com/thmb/jMtJRClFPZIZ5wwvRKj89lL2LBA=/1500x1000/filters:fill(auto,1)/duck-big-bill-59ef8e5068e1a2001072c89e.jpg">
  <div id="about-content">
    <h1 id="greeting" class="font-weight-light">Hello, I'm Brock.</h1>
    <h3 class="content-heading">I am a web developer who finds joy in solving challenging problems and learning new things,</h3>
    <h3>but I am also a:</h3>
    <ul>
      <li>Pianist</li>
      <li>Runner</li>
      <li>Game Developer</li>
      <li>Weightlifter</li>
      <li>Drummer</li>
      <li>Composer</li>
      <li>Perfectionist</li>
      <li>Introvert</li>
      <li>Tech Enthusiast</li>
    </ul>
  </div>
</div>
