<div id="about-section" class="text-center text-white">
  <img class="img-fluid background-img" src="https://www.thespruce.com/thmb/jMtJRClFPZIZ5wwvRKj89lL2LBA=/1500x1000/filters:fill(auto,1)/duck-big-bill-59ef8e5068e1a2001072c89e.jpg">
  <div id="about-content">
    <h1 id="greeting" class="font-weight-light">Hello, I'm Brock.</h1>
    <h3 class="content-heading">I am a web developer who finds joy in solving challenging problems and learning new things, but I am also a:</h3>
    <ul>
      <li>Pianist</li>
      <li>Runner</li>
      <li>Game Developer</li>
      <li>Weightlifter</li>
      <li>Drummer</li>
      <li>Composer</li>
      <li>Perfectionist</li>
      <li>INFP</li>
      <li>Tech Enthusiast</li>
    </ul>
    <p>
       If there were more than 24 hours in a day, I would probably spend a lot of my extra time discovering and exploring new tech. Some areas of interest
       that I hope to eventually explore more deeply: artificial intelligence (especially generative music), mobile development, game development, and data science.</p>
  </div>
</div>
