<div id="skills" class="container-fluid text-white">

  <div class="row m-4">
    <section class="col-12 col-md-6 text-center">
      <h1 class="font-weight-light content-heading">What's in my toolbox?</h1>
      <ul class="list-inline" id="tech-toolbox-list">
        <li><i class="devicon-javascript-plain colored"></i> JavaScript</li>
        <li><i class="devicon-css3-plain colored"></i> CSS</li>
        <li><i class="devicon-html5-plain colored"></i> HTML</li>
        <li><i class="devicon-python-plain colored"></i> Python and Flask</li>
        <li><i class="devicon-react-original colored"></i> React</li>
        <li><i class="devicon-postgresql-plain colored"></i> PostgreSQL</li>
        <li><i class="devicon-c-plain colored"></i> <i class="devicon-cplusplus-plain colored"></i> C/C++</li>
        <li><i class="devicon-bootstrap-plain colored"></i> Bootstrap</li>
        <li><i class="devicon-github-plain"></i> Git</li>
        <li><i class="devicon-jquery-plain colored"></i> jQuery</li>
      </ul>
    </section>
    <section class="col-12 col-md-6 text-center">
      <h1 class="font-weight-light content-heading">Tech Skills</h1>
      <ul class="list-inline" id="tech-skills-list">
        <li>HTTP</li>
        <li>Command Line</li>
        <li>OOP</li>
        <li>JSON</li>
        <li>AJAX and Socket communications</li>
        <li>Web Development Best Practices
        <li>Data Structures and Algorithms</li>
        <li>ES6</li>
      </ul>
      <h1 class="font-weight-light content-heading">Personal Strengths</h1>
      <ul class="list-inline" id="personal-strengths-list">
        <li>Learning new things quickly</li>
        <li>Taking constructive criticism</li>
        <li>Making good use of my time</li>
        <li>Working on a team</li>
        <li>Explaining complicated ideas</li>
      </ul>
    </section>
  </div>
  <section class="text-center">

  </section>

</div>
